<div class="deznav">
	<div class="deznav-scroll">
		<ul class="metismenu" id="menu">
			<li>
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="flaticon-381-networking"></i>
					<span class="nav-text">Quản lý nhân viên</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="/Admin/Position/Index">Vị trí</a></li>
					<li><a href="/Admin/Employee/Index">Nhân viên</a></li>
				</ul>
			</li>
			<li>
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="flaticon-381-television"></i>
					<span class="nav-text">Quản lý Gallery</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="/Admin/Gallery/Gallery">Danh mục</a></li>
					<li><a href="/Admin/Gallery/Index">Danh sách ảnh</a></li>
				</ul>
			</li>
			<li>
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="flaticon-381-controls-3"></i>
					<span class="nav-text">Quản lý nguyên liệu</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="/Admin/Category/Index">Danh mục nguyên liệu</a></li>
					<li><a href="/Admin/Ingredient/Index">Danh sách nguyên liệu</a></li>
				</ul>
			</li>
			<li>
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="flaticon-381-heart"></i>
					<span class="nav-text">Quản lý món ăn</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="/Admin/Dish/Index">Danh sách Món ăn</a></li>
					<li><a href="/Admin/Dish/Recipe">Chi tiết Món ăn</a></li>
				</ul>
			</li>
			<li>
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="flaticon-381-internet"></i>
					<span class="nav-text">Quản lý Menu</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="/Admin/Menu/Index">Danh sách Menu</a></li>
					<li><a href="/Admin/Menu/Detail">Chi tiết Menu</a></li>
				</ul>
			</li>
			<li>
				<a href="widget-basic.html" class="ai-icon" aria-expanded="false">
					<i class="flaticon-381-settings-2"></i>
					<span class="nav-text">Widget</span>
				</a>
			</li>
			<li>
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="flaticon-381-notepad"></i>
					<span class="nav-text">Forms</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="/Admin/form-element.html">Form Elements</a></li>
					<li><a href="/Admin/form-wizard.html">Wizard</a></li>
					<li><a href="/Admin/form-editor-summernote.html">Summernote</a></li>
					<li><a href="form-pickers.html">Pickers</a></li>
					<li><a href="form-validation-jquery.html">Jquery Validate</a></li>
				</ul>
			</li>
			<li>
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="flaticon-381-network"></i>
					<span class="nav-text">Table</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="table-bootstrap-basic.html">Bootstrap</a></li>
					<li><a href="table-datatable-basic.html">Datatable</a></li>
				</ul>
			</li>
			<li>
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="flaticon-381-layer-1"></i>
					<span class="nav-text">Pages</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="/Admin/page-register.html">Register</a></li>
					<li><a href="/Admin/page-login.html">Login</a></li>
					<li>
						<a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
						<ul aria-expanded="false">
							<li><a href="/Admin/page-error-400.html">Error 400</a></li>
							<li><a href="/Admin/page-error-403.html">Error 403</a></li>
							<li><a href="/Admin/page-error-404.html">Error 404</a></li>
							<li><a href="/Admin/page-error-500.html">Error 500</a></li>
							<li><a href="/Admin/page-error-503.html">Error 503</a></li>
						</ul>
					</li>
					<li><a href="/Admin/page-lock-screen.html">Lock Screen</a></li>
				</ul>
			</li>
		</ul>

		<div class="add-menu-sidebar">
			<img src="/Admin/images/icon1.png" alt="" />
			<p>Organize your menus through button bellow</p>
			<a href="javascript:void(0);" class="btn btn-primary btn-block light">+ Add Menus</a>
		</div>
		<div class="copyright">
			<p><strong>Eatio - Restaurant Admin Dashboard</strong> © 2020 All Rights Reserved</p>

		</div>
	</div>
</div>