<div class="deznav">
	<div class="deznav-scroll">
		<ul class="metismenu" id="menu">
			<li>
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="flaticon-381-networking"></i>
					<span class="nav-text">Quản lý Nhân viên</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="/Admin/Position/Index">Danh sách Vị trí</a></li>
					<li><a href="/Admin/Employee/Index">Danh sách Nhân viên</a></li>
				</ul>
			</li>
			<li>
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="flaticon-381-television"></i>
					<span class="nav-text">Quản lý Gallery</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="/Admin/Gallery/Gallery">Danh mục ảnh</a></li>
					<li><a href="/Admin/Gallery/Index">Danh sách ảnh</a></li>
				</ul>
			</li>
			<li>
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="flaticon-381-controls-3"></i>
					<span class="nav-text">Quản lý Nguyên liệu</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="/Admin/Category/Index">Danh mục Nguyên liệu</a></li>
					<li><a href="/Admin/Ingredient/Index">Danh sách Nguyên liệu</a></li>
				</ul>
			</li>
			<li>
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="flaticon-381-heart"></i>
					<span class="nav-text">Quản lý Món ăn</span>
				</a>
				<ul aria-expanded="false">
                    <li><a href="/Admin/Dish/Index">Danh sách Món ăn</a></li>
				</ul>
			</li>
			<li>
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="flaticon-381-internet"></i>
					<span class="nav-text">Quản lý Menu</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="/Admin/Menu/Index">Danh sách Menu</a></li>
				</ul>
			</li>
			<li>
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="flaticon-381-notepad"></i>
					<span class="nav-text">Quản lý bán</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="/Admin/Table/Index">Quản lý bàn</a></li>
					<li><a href="/Admin/Reservation/Index">Quản lý đặt bàn</a></li>
					<li><a href="/Admin/Bill/Index">Quản lý hóa đơn</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>