@{
    ViewData["Title"] = "Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
	var session = HttpContextAccessor.HttpContext.Session;
	var name = session.GetString("Username");
}
@section Styles{
	<link href="/Admin/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/Admin/vendor/pickadate/themes/default.css">
	<link rel="stylesheet" href="/Admin/vendor/pickadate/themes/default.date.css">
}
<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/Client/images/bg-title-page-02.jpg);">
	<h2 class="tit6 t-center">
		Reservation
	</h2>
</section>


<!-- Reservation -->
<section class="section-reservation bg1-pattern p-t-100 p-b-113">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 p-b-30">
				<div class="t-center">
					<span class="tit2 t-center">
						Reservation
					</span>

					<h3 class="tit3 t-center m-b-35 m-t-2">
						Book table
					</h3>
				</div>

				<form class="wrap-form-reservation size22 m-l-r-auto" id="reservationForm">
					<input type="hidden" value="@name" name="CreatedBy"/>
					<div class="row">
						<div class="col-md-8">
							<!-- Date -->
							<span class="txt9">
								Date
							</span>
							<div class="wrap-inputdate pos-relative txt10 size12 bo2 bo-rad-10 m-t-3 m-b-23">
								<input type="datetime-local" name="bookingDate" class="form-control" id="reservationBookingDate">
							</div>
						</div>
						<div class="col-md-4">
							<!-- People -->
							<span class="txt9">
								People
							</span>

							<div class="wrap-inputpeople size12 bo2 bo-rad-10 m-t-3 m-b-23">
								<!-- Select2 -->
								<select class="selection-1" name="GroupOf">
									<option value="1" selected>1 person</option>
									<option value="2">2 people</option>
									<option value="3">3 people</option>
									<option value="4">4 people</option>
									<option value="5">5 people</option>
									<option value="6">6 people</option>
									<option value="7">7 people</option>
								</select>
							</div>
						</div>
					</div>


					<div class="wrap-btn-booking flex-c-m m-t-6">
						<!-- Button3 -->
						<button onclick="AddBooking()" class="btn3 flex-c-m size13 txt11 trans-0-4">
							Book Table
						</button>
					</div>
				</form>
			</div>

			<div class="col-lg-12">
				<table id="data_reservation" class="display text-center" style="min-width: 845px">
					<thead>
						<tr>
							<th>STT</th>
							<th>Reservation Id</th>
							<th>Capacity</th>
							<th>Booking Date</th>
							<th>Status</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="reservation_data">
					</tbody>
				</table>
			</div>
		</div>

		<div class="info-reservation flex-w p-t-80">
			<div class="size23 w-full-md p-t-40 p-r-30 p-r-0-md">
				<h4 class="txt5 m-b-18">
					Reserve by Phone
				</h4>

				<p class="size25">
					Donec quis euismod purus. Donec feugiat ligula rhoncus, varius nisl sed, tincidunt lectus.
					<span class="txt25">Nulla vulputate</span>
					, lectus vel volutpat efficitur, orci
					<span class="txt25">lacus sodales</span>
					sem, sit amet quam:
					<span class="txt24">(001) 345 6889</span>
				</p>
			</div>

			<div class="size24 w-full-md p-t-40">
				<h4 class="txt5 m-b-18">
					For Event Booking
				</h4>

				<p class="size26">
					Donec feugiat ligula rhoncus:
					<span class="txt24">(001) 345 6889</span>
					, varius nisl sed, tinci-dunt lectus sodales sem.
				</p>
			</div>

		</div>
	</div>
</section>	
<!-- Container Selection1 -->
<div id="dropDownSelect1"></div>

@section Scripts{
	<script>
		function getData() {
			$.ajax({
				url: "/api/AReservation/GetReservationByUsername?Username=" + '@name',
				type: "GET",
				dataType: "json",
				success: function (data) {
					$('#reservation_data').html('');
					data.forEach(function (item, index) {
						let temp = `<span class="btn btn-sm light btn-warning">Pending</span>`
						if (item.Status === 1) {
							temp = `<span class="btn btn-sm light btn-primary">Accepted</span>`
						}
						if (item.Status === 2) {
							temp = `<span class="btn btn-sm light btn-info">Eating</span>`
						}
						if (item.Status === 3) {
							temp = `<span class="btn btn-sm light btn-success">Đã thanh toán</span>`
						}
						let row = `<tr>
													<td>${index + 1}</td>
													<td>${item.Id}</td>
													<td>${item.GroupOf}</td>
													<td>${new Date(item.BookingDate).toLocaleString()}</td>
													<td>${temp}</td>
													<td><a class="btn btn-primary" href="/Reservation/Detail?Id=${item.Id}"></a></td>
											   </tr>`;
						$('#reservation_data').append(row);
					});
				},
				error: function () {
				},
				complete: function () {
				}
			});
		}
	function AddBooking() {
			event.preventDefault();
			var reservationData = $('#reservationForm').serialize();
			console.log(reservationData);
			$.ajax({
				url: '/api/AReservation/',
				type: 'POST',
				data: reservationData,
				dataType: 'json',
				success: function () {
					getData();
				},
				error: function (error) {
					console.log(error);
				}
			});
		}
		$(document).ready(function () {
			getData();
		});
	</script>
}
