@{
    ViewData["Title"] = "Category";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="/Admin/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
}
<div class="content-body" style="min-height: 960px">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, Welcome Back!</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Quản lý Menu</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Danh mục nguyên liệu</a></li>
                </ol>
            </div>
            <!-- row -->
            <div class="row mt-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Danh sách danh mục</h4>
                            <button type="button" id="addCategoryBtn" class="btn btn-primary float-right" data-toggle="modal" data-target="#addEditCategoryModal">Add Category</button>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="data_table" class="display text-center" style="min-width: 845px">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Slug</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="category_data">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add/Edit Category Modal -->
        <div class="modal fade" id="addEditCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addEditCategoryModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addEditCategoryModalLabel">Add Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="categoryForm">
                        <div class="modal-body">
                            <input type="hidden" id="categoryId" name="id" value="">
                            <div class="form-group">
                                <label for="categoryName">Name</label>
                                <span class="text-danger"> *</span>
                                <input type="text" class="form-control" id="categoryName" name="name" required>
                            </div>
                            <div class="form-group">
                                <label for="categorySlug">Slug</label>
                                <input type="text" class="form-control" id="categorySlug" name="slug" required>
                            </div>
                            <input type="hidden" id="categoryCreatedBy" name="createdBy">
                            <input type="hidden" id="categoryCreatedAt" name="createdAt">
                            <input type="hidden" id="categoryUpdatedBy" name="updatedBy">
                            <input type="hidden" id="categoryUpdatedAt" name="updatedAt">
                            <input type="hidden" id="categoryStatus" name="status">
                            <input type="hidden" id="categoryIsDeleted" name="isDeleted">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" id="saveCategoryBtn" class="btn btn-primary">Save Category</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- Success modal -->
        @await Html.PartialAsync("_SuccessModalPartial")

        <!-- Error modal -->
        @await Html.PartialAsync("_ErrorModalPartial")
    </div>
</div>



@section Scripts{
    <!-- Datatable -->
    <script src="/Admin/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/Admin/js/plugins-init/datatables.init.js"></script>

    <script type="text/javascript">
        function getData() {
            $.ajax({
                url: "/api/ACategory",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $('#category_data').html('');
                    $('#data_table').DataTable().clear().destroy();
                    data.forEach(function (item, index) {
                        let row = `<tr>
                                                <td>${index + 1}</td>
                                                <td>${item.Id}</td>
                                                <td>${item.Name}</td>
                                                <td>${item.Slug}</td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button type="button" class="btn btn-success light sharp" data-toggle="dropdown">
                                                            <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item edit-category" data-id="${item.Id}" href="#">Edit</a>
                                                            <a class="dropdown-item delete-category" data-id="${item.Id}" href="#">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                           </tr>`;
                        $('#category_data').append(row);
                    });
                    $('#data_table').DataTable();
                },
                error: function () {
                },
                complete: function () {
                }
            });
        }
        $(document).ready(function () {

            $('#addCategoryBtn').click(function () {
                $('#addEditCategoryModalLabel').text('Add Category');
                $('#categoryForm')[0].reset();
                $("input[type='hidden']").val('');
            });
            getData();
            // Edit category click event
            $('#data_table tbody').on('click', '.edit-category', function () {
                $('#categoryForm')[0].reset();
                var categoryId = $(this).data('id');
                $.ajax({
                    url: '/api/ACategory/' + categoryId,
                    type: 'GET',
                    dataType: 'json',
                    success: function (category) {
                        $('#addEditCategoryModalLabel').text('Edit Category');
                        $('#categoryId').val(category.Id);
                        $('#categoryName').val(category.Name);
                        $('#categorySlug').val(category.Slug);
                        $('#categoryCreatedBy').val(category.CreatedBy);
                        $('#categoryCreatedAt').val(category.CreatedAt);
                        $('#categoryUpdatedBy').val(category.UpdateBy);
                        $('#categoryUpdatedAt').val(category.UpdatedAt);
                        $('#categoryStatus').val(category.Status);
                        $('#categoryIsDeleted').val(category.IsDeleted);
                        $('#addEditCategoryModal').modal('show');
                    },
                    error: function () {
                        $('#errorModal').modal('show');
                    }
                });
            });
            // Delete category click event
            $('#data_table tbody').on('click', '.delete-category', function () {
                var categoryId = $(this).data('id');
                $.ajax({
                    url: '/api/ACategory/' + categoryId,
                    type: 'DELETE',
                    dataType: 'json',
                    success: function () {
                        $('#successModal').modal('show');
                        getData();
                    },
                    error: function () {
                        $('#errorModal').modal('show');
                    }
                });
            });
            // Save Category
            $('#saveCategoryBtn').click(function () {
                event.preventDefault();
                var categoryData = $('#categoryForm').serialize();
                var method = $('#categoryId').val() ? 'PUT' : 'POST';
                console.log(categoryData);
                $.ajax({
                    url: '/api/ACategory/',
                    type: method,
                    data: categoryData,
                    dataType: 'json',
                    success: function () {
                        $('#addEditCategoryModal').modal('hide');
                        $('#successModal').modal('show');
                        getData();
                    },
                    error: function (error) {
                        $('#addEditCategoryModal').modal('hide');

                        $('#errorModal').modal('show');
                    }
                });
            });
        });
    </script>

}

