@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/Client/images/bg-title-page-02.jpg);">
    <h2 class="tit6 t-center">
        Gallery
    </h2>
</section>

<!-- Gallery -->
<div class="section-gallery p-t-118 p-b-100">
    <div class="wrap-label-gallery filter-tope-group size27 flex-w flex-sb-m m-l-r-auto flex-col-c-sm p-l-15 p-r-15 m-b-60" id="galleryList">
        <button class="label-gallery txt26 trans-0-4 is-actived" data-filter="*">
            All Photo
        </button>
    </div>

    <div class="wrap-gallery isotope-grid flex-w p-l-25 p-r-25" id="galleryImageList">
    </div>
</div>


<!-- Sign up -->
<div class="section-signup bg1-pattern p-t-85 p-b-85">
    <form class="flex-c-m flex-w flex-col-c-m-lg p-l-5 p-r-5">
        <span class="txt5 m-10">
            Specials Sign up
        </span>

        <div class="wrap-input-signup size17 bo2 bo-rad-10 bgwhite pos-relative txt10 m-10">
            <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="email-address" placeholder="Email Adrress">
            <i class="fa fa-envelope ab-r-m m-r-18" aria-hidden="true"></i>
        </div>

        <!-- Button3 -->
        <button type="submit" class="btn3 flex-c-m size18 txt11 trans-0-4 m-10">
            Sign-up
        </button>
    </form>
</div>


@section Scripts{
    <script type="text/javascript" src="/Client/vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript">

        var $topeContainer = $('.wrap-gallery');
        var $filter = $('.filter-tope-group');
        $.ajax({
            url: "/api/AGallery",
            type: "GET",
            dataType: "json",
            success: function (data) {
                data.forEach(function (item, index) {
                    let row = `<button class="label-gallery txt26 trans-0-4" data-filter=".${item.Slug}">
                                                                      ${item.Name}
                                                                    </button>`;
                    $($filter).append(row);

                });
            },
            error: function () {
            },
            complete: function () {
                var labelGallerys = $('.label-gallery');

                $(labelGallerys).each(function () {
                    $(this).on('click', function () {
                        for (var i = 0; i < labelGallerys.length; i++) {
                            $(labelGallerys[i]).removeClass('is-actived');
                        }

                        $(this).addClass('is-actived');
                    });
                });
            }
        });
        $.ajax({
            url: "/api/AGalleryImage/GetAllGalleryImageViewModel",
            type: "GET",
            dataType: "json",
            success: function (data) {
                data.forEach(function (item, index) {
                    let row = `<div class="item-gallery isotope-item bo-rad-10 hov-img-zoom ${item.Slug}">
                                                                              <img src="${item.Path}" alt="IMG-GALLERY">

                                                                              <div class="overlay-item-gallery trans-0-4 flex-c-m">
                                                                                <a class="btn-show-gallery flex-c-m fa fa-search" href="${item.Path}" data-lightbox="gallery"></a>
                                                                              </div>
                                                                            </div>`;
                    $topeContainer.append(row)
                });
            },
            error: function () {
            },
            complete: function () {
                console.log("Hello")
                $($topeContainer).isotope({
                        itemSelector: '.isotope-item',
                        percentPosition: true,
                        animationEngine: 'best-available',
                        masonry: {
                            columnWidth: '.isotope-item'
                        }
                });
                // filter items on button click
                $filter.each(function () {
                    $filter.on('click', 'button', function () {
                        var filterValue = $(this).attr('data-filter');
                        $topeContainer.isotope({ filter: filterValue });
                    });
                });
            }
        });


    </script>
}
